* {
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}






/* CONTACT STYLES */
.hero {
    width: 100%;
    height: 100vh;
    background-image: url(/img/backgorund.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

form {
    width: 90%;
    max-width: 600px;
}

.input-group {
    margin-bottom: 30px;
}

input, textarea{
    width: 100%;
    padding: 10px;
    outline: 0;
    border: 1px solid #fff;
    color: #fff;
    background: transparent;
    font-size: 15px;
}

label{
    height: 100%;
    /* position: absolute; */
    left: 0;
    top: 0;
    padding: 10px;
    color: #fff;
    cursor: text;
}

button {
    padding: 10px;
    color: #fff;
    outline: none;
    background: transparent;
    border: 1px solid #fff;
    width: 100%;
    cursor: pointer;
} 