* {
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}
/*style index*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contenedor{
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

.titulo{
    color: brown;
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
}

/*Header */

header{
    width: 100%;
    height: 600px;
    background: #CAC531;
    background: -webkit-linear-gradient(to right, hsla(64, 87%, 82%, 0.651), hsla(58, 61%, 49%, 0.658)), url(../fondo.jpg);
    background: linear-gradient(to right, hsla(64, 87%, 82%, 0.651), hsla(58, 61%, 49%, 0.658)), url(../fondo.jpg);
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    opacity: 5px;
}

nav{
    text-align: right;
    padding: 30px 50px 0 0;
}

nav > a{
    color: rgb(14, 14, 14);
    font-weight: 600;
    text-decoration: none;
   margin-right: 10px;
   
}

nav > a:hover{
    text-decoration: underline;
}

.navbar .logo img{
    float:left;
    width: 125px;
    height: 100px;
}



header .textos-header{
    display: flex;
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.textos-header h1{
    font-size: 50px;
    color: rgb(0, 0, 0);
}


.wave{
    position: absolute;
    bottom: 0;
    width: 100%;
}

.contenedor-sobre-nosotros{
    display: flex;
    justify-content: space-evenly;
}

.imagen.about-us{
    width: 48%;
}

.sobre-nosotros .contenido-textos{
    width: 48%;
}

.contenido-textos h3 span{
    margin-bottom: 15px;
}

.contenido-textos h3 span{
    background: #CAC531;
    color: #fff;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    width: 25px;
    height: 25px;
    padding: 2px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5); 
    margin-right: 5px;
}

.contenido-textos p{
    padding: 0px 0px 30px 15px;
    font-weight: 300;
    text-align: justify;
}

.hover-galeria{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background: hsla(273,91);
}

.enlinia{
    display:inline-block;
    width:45%;
    box-sizing: border-box;
    vertical-align: top;
}
.enlinia img{
    width:100%;
}

.cakeshoop h2 {
    margin-bottom: 10px;
    justify-content: space-evenly;
    margin-left: 15px;
    margin-top: 10px;
}

.cakeshoop h3{
    padding: 0px 0px 15px 15px;
    font-weight: 300;
    text-align: justify;
}



.hero {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.7), #9c660a) url(/img/backgorund.jpg);
    background-position: center;
    background-size: cover;
}




